@keyframes villogo {
  0% { color: red; opacity: 1; }
  50% { opacity: 0; }
  100% { color: blue; opacity: 1; }
}
@mixin profilok{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  background-color: #000;
  div{
      display: block;
      width: 200px;
      height: 300px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 10%;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: rgb(206, 207, 207);
  }
  p{
      color: #000;
  }
  a{
      text-decoration: none;
      color: #000;
  }    
  img{
      object-fit: cover;
      border-radius: 5%;
      width: 200px;
      height: 150px;
  }
}

@mixin margin{
  margin: 0 auto;
}
@mixin carousel{
  width: 20%;
  height: 400px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px;
  border-radius: 15px;
}
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   z-index: 9999;
  background-color: black;
}
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#backButton{
  display: none;
}
.tarsashazkezelesLogo{
  color: rgb(1, 61, 61);
  margin-right: 2rem;
}     
#bejelentkezes_ikon{
  display: none;
}
.sajátpróba{
  display: flex;
  width: 100%;
  .egy{
    @include carousel();
    display: block;
    height: auto;
    img{
      width: 80%;
      height: 50%;
    }
  }
  .ketto{
    width: 60%;
    text-align: center;
    background-color: 158 207 153;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  .harom{
    @include carousel();
    display: block;
    height: auto;
    h3 {
      animation: villogo 1s infinite;
    }
  }
}
.ugyfelfogadas{
  text-align: center;
  width: 100%;
  background-color: beige;
  p{
    margin: 0%;
    color: brown;
  }
}
.belepes{
    text-align: center;
}
.card-body{
    text-align: center;
}
.anyu_képe{
  display: flex;
  @include margin();
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profilok{
  @include profilok;
}
  

/* Media Query */
@media only screen and (max-width: 768px) {
  .tarsashazkezelesLogo{
    margin: 0;
    font-size: 1.5rem;
  }
  .sajátpróba{
    display: block;
    .egy{
      justify-content: center;
      text-align: center;
      align-items: center;
      width: 100%;
      display: flex;
      height: 20%;
      img{
        width: 30%;
      }
    }
    .ketto{
      display: none;
    }
    .harom{
      width: 100%;
      display: block;
      h3 {
        animation: villogo 1s infinite;
      }
    }
  }
  #bejelentkezes{
    display: none;
  }
  #backButton{
    display: inline-block;
  }
  #bejelentkezes_ikon{
    display: inline-block;
  }
  #bejelentkezes_info{
    display: none;
  }
}